body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url("images/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome{
  position: absolute;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 50px;
  top: 30%;
  width: 100%;
  text-align: center;
}

.landing-desc{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  top: 55%;
}
.signup-title{
  font-size: 37px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.info-desc{
  font-size: 25px;
  text-align: center;
}

.signup-form{
    background-color: transparent;
}
.typed-fields{
  display:inline-block;
  opacity: 1;
}

.field{
  display:block;
  padding: 2vh;
  align-content: center;
}

.role{
  display:block;
  padding: 11px;
  align-content: center;
  font-family: Arial;
  font-size: 15px;
  color: black;
}

.line-break{
  padding-bottom: 2vh;
}

.centered{
  text-align: center;
}

.slogan{
  position: absolute;
  top: 1000px;
}

.landing-photo{
  width: 100%;
  position: absolute;
  top: 780px;
  left: 0px;
}

.landing-signup{
  position: absolute;
  text-align: center;
  font: 40px;
  top: 600px;
  border: black;
}

.logo{
  position: absolute;
  left: 10px;
  top:7px;
}

.displaying-keys1{
  padding-top: 100px;
  font-size: 20px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.displaying-keys2{
  padding-top: 10px;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.welcome-user1{
  position: absolute;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 50px;
  top: 20%;
  width: 100%;
  text-align: center;
}

.welcome-user2{
  position: absolute;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 40px;
  top: 45%;
  width: 100%;
  text-align: center;
}

.search{
  position: absolute;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: grey;
  font-size: 25px;
  top: 80%;
  width: 100%;
  text-align: center;
}

.major-break{
  height: 560px;
}

.minor-break{
  height: 90px;
}

.search-button{
  padding: 80px;
  position: absolute;
  left: 18px;
  top: 10px
}

.search-results{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}

.search-bar{
  padding-left: 20px;
}

h1{
  width: 100%;

}

ol{
  text-align: left !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color:#009fcf;
  margin-left: 30px;
}

.list{
  margin: 10px 0;
}

hr{
  margin-right:50px;
  margin-left: -25px;
  width: 100%;
}

.view-button{
  display: inline-block;
}